@model ProgettoSettimanaleW7.Models.Utenti

@{
    ViewBag.Title = "Details";
}

<h2 class="text-bg-primary text-center">Dettagli utente</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruolo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifica", "Edit", new { id = Model.IdUtente }, new {@class = "btn btn-warning my-2"}) |
    @Html.ActionLink("Indietro", "Index", null, new { @class = "btn btn-light" })
</p>
