@model ProgettoSettimanaleW7.Models.Articoli

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-bg-primary text-center">Cancella</h2>

<h3>Sei sicuro/a di voler eliminare l'articolo?</h3>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <img class="card-img-top img-fluid custom-img" src="@Url.Content(Model.Immagine)" alt="@Model.Nome" onerror="this.onerror=null; this.src='/path/to/default/image.jpg'" />
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(model => model.Nome)</h5>
                <p class="card-text">Prezzo: @Html.DisplayFor(model => model.Prezzo)</p>
                <p class="card-text">Tempo Consegna: @Html.DisplayFor(model => model.TempoConsegna)</p>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <input type="submit" value="Cancella" class="btn btn-danger my-2" />
                    @Html.ActionLink("Indietro", "Index", null, new { @class = "btn btn-light" })
                }
            </div>
        </div>
    </div>
</div>
