@model ProgettoSettimanaleW7.Models.Articoli

@{
    ViewBag.Title = "Details";
    // Recupero il valore della variabile IsUserAdmin dalla ViewBag per capire se l'utente è admin o meno
    var isUserAdmin = ViewBag.IsUserAdmin;
}

<h2 class="text-bg-primary text-center">Dettagli</h2>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <img class="card-img-top img-fluid custom-img" src="@Url.Content("~/Content/img/" + Model.Immagine)" alt="@Model.Nome" onerror="this.onerror=null; this.src='@Url.Content("~/Content/img/default.jpg")'" />
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(model => model.Nome)</h5>
                <p class="card-text">Prezzo: @Html.DisplayFor(model => model.Prezzo)</p>
                <p class="card-text">Tempo di consegna: @Html.DisplayFor(model => model.TempoConsegna) minuti</p>

                @*Se l'utente è autenticato e non è admin, mostro il pulsante per aggiungere al carrello e la quantità da aggiungere*@

                @if (Request.IsAuthenticated && !isUserAdmin) //request è un oggetto che rappresenta la richiesta HTTP corrente
                {
                    using (Html.BeginForm("AddToCart", "Articoli"))
                    {
                        <input type="hidden" name="productId" value="@Model.IdArticolo" />
                        <input type="number" name="quantity" min="1" max="99" value="1" />
                        <input type="submit" value="Add to cart" />
                    }
                }
                @if (isUserAdmin) //Se l'utente è admin, mostro il pulsante per modificare
                {
                    <a href="@Url.Action("Edit", "Articoli", new { id = Model.IdArticolo })" class="btn btn-warning my-2">Modifica</a>
                }
                <a href="@Url.Action("Index", "Articoli")" class="btn btn-light">Indietro</a>
            </div>
        </div>
    </div>
</div>
