@model IEnumerable<ProgettoSettimanaleW7.Models.Articoli>

@{
    ViewBag.Title = "Index";
    var isUserAdmin = ViewBag.IsUserAdmin; // Recupero il valore della variabile IsUserAdmin dalla ViewBag per capire se l'utente è admin o meno
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}


<h2>Le nostre pizze</h2>
@*Se lo user è admin, mostro il pulsante per aggiungere una nuova pizza*@
<p>
    @if (isUserAdmin)
    {
        @Html.ActionLink("Aggiungi nuova", "Create", null, new { @class = "btn btn-success" })
    }
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card flex-fill my-2">
                <img class="card-img-top img-fluid" src="@Url.Content("~/Content/img/" + item.Immagine)" alt="@item.Nome" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                    <p class="card-text">Prezzo: @Html.DisplayFor(modelItem => item.Prezzo)</p>
                    <p class="card-text">Tempo di consegna: @Html.DisplayFor(modelItem => item.TempoConsegna) minuti</p>
                    @*Se l'utente è autenticato e non è admin, mostro il pulsante per aggiungere al carrello e la quantità da aggiungere*@
                    @if (Request.IsAuthenticated && !isUserAdmin)
                    {
                        using (Html.BeginForm("AddToCart", "Articoli"))
                        {
                            <input type="hidden" name="productId" value="@item.IdArticolo" />
                            <input type="number" name="quantity" min="1" max="99" value="1" />
                            <input type="submit" value="Add to cart" />
                        }
                    }
                    <div class="mt-auto">
                        @*Se l'utente è admin, mostro i pulsanti per modificare, vedere i dettagli e cancellare*@
                        @if (isUserAdmin)
                        {
                            <a href="@Url.Action("Edit", "Articoli", new { id = item.IdArticolo })" class="btn btn-warning">Modifica</a>
                            <a href="@Url.Action("Details", "Articoli", new { id = item.IdArticolo })" class="btn btn-info">Dettagli</a>
                            <a href="@Url.Action("Delete", "Articoli", new { id = item.IdArticolo })" class="btn btn-danger">Cancella</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Details", "Articoli", new { id = item.IdArticolo })" class="btn btn-info">Dettagli</a>

                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
