@model ProgettoSettimanaleW7.Models.DettagliOrdini

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DettagliOrdini</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Articoli.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articoli.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ordini.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ordini.Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrezzoTotale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrezzoTotale)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDettagliOrdine }) |
    @Html.ActionLink("Back to List", "Index")
</p>
