@model ProgettoSettimanaleW7.ViewModel.OrderEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Order.IdOrdine)

<div class="form-horizontal">
    <h4>Ordini</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.Order.IdUtente, "Utenti", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Order.IdUtente, Model.IdUtenteList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Order.IdUtente, "", new { @class = "text-danger" })
        </div>
    </div>

 <div class="form-group">
        @Html.LabelFor(model => model.Order.Indirizzo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Order.Indirizzo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Order.Indirizzo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Order.IsEvaso, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Order.IsEvaso)
                @Html.ValidationMessageFor(model => model.Order.IsEvaso, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Order.Note, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Order.Note, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Order.Note, "", new { @class = "text-danger" })
        </div>
    </div>

    @foreach (var item in Model.Order.DettagliOrdini)
    {
        <div class="form-group">
            @Html.HiddenFor(modelItem => item.IdDettagliOrdine)
            @Html.LabelFor(modelItem => item.Articoli.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(modelItem => item.Articoli.IdArticolo, Model.ArticoliList, new { @class = "form-control" })
                @Html.ValidationMessageFor(modelItem => item.Articoli.IdArticolo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(modelItem => item.Quantita, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(modelItem => item.Quantita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(modelItem => item.Quantita, "", new { @class = "text-danger" })
            </div>
        </div>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save Changes" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
