@model IEnumerable<ProgettoSettimanaleW7.Models.Ordini>

@{
    ViewBag.Title = "Gestione ordini";
}

<h2 class="text-bg-primary text-center">Gestione Ordini</h2>

<h3>Ordini totali evasi: <span id="totalOrders"></span></h3>
<hr />
<h3>Totale incassato oggi: <span id="totalRevenue"></span></h3>
<hr />

<div class="d-flex justify-content-start">
    <div class="p-2">@Html.ActionLink("Aggiungi Ordine", "Create", "Ordini", new { area = "" }, new { @class = "btn btn-info my-3" })</div>
</div>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.DataOrdine)</th>
        <th>@Html.DisplayNameFor(model => model.Utenti.Username)</th>
        <th>@Html.DisplayNameFor(model => model.Indirizzo)</th>
        <th>@Html.DisplayNameFor(model => model.IsEvaso)</th>
        <th>@Html.DisplayNameFor(model => model.Note)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DataOrdine)</td>
            <td>@Html.DisplayFor(modelItem => item.Utenti.Username)</td>
            <td>@Html.DisplayFor(modelItem => item.Indirizzo)</td>
            <td>@Html.DisplayFor(modelItem => item.IsEvaso)</td>
            <td>@Html.DisplayFor(modelItem => item.Note)</td>
            <td>
                @if (!item.IsEvaso)
                {
                    using (Html.BeginForm("MarkAsEvaso", "Ordini", new { id = item.IdOrdine }, FormMethod.Post))
                    {
                        <input type="submit" value="Segna come evaso" />
                    }
                }
                @Html.ActionLink("Dettagli", "Details", "Ordini", new { id = item.IdOrdine }, new { @class = "btn btn-info my-3" })
                @Html.ActionLink("Elimina Ordine", "Delete", "Ordini", new { id = item.IdOrdine }, new { @class = "btn btn-danger my-3" })
            </td>
        </tr>
    }
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    //Ordini totali evasi
    $(document).ready(function() {
        $.get('@Url.Action("GetTotalOrders", "Ordini")', function(data) {
            $('#totalOrders').text(data);
        });

        //Totale incassato oggi
        var date = new Date();
        var dateString = date.getFullYear()+'-'+(date.getMonth()+1)+'-'+date.getDate();
        $.get('@Url.Action("GetTotalRevenue", "Ordini")', { date: dateString }, function(data) {
            $('#totalRevenue').text(data + ' €');
        });
    });
</script>
